/* Style the header with a grey background and some padding */
.header {
  overflow: hidden;
  background-color: #f1f1f1;
  padding: 20px 10px;
}

/* Style the header links */
header a {
  color: black;
  text-decoration: none;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header-left {
  float: left;
}

/* Change the background color on mouse-over */
header a:hover {
  color: #ddd;
}

/* Float the link section to the right */
.header-right {
  float: right;
}